<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw {{ svg_name }}</title>
</head>
<body>
    <canvas id="canvas" height="500px" width="500px" />
    <script>
        let rs = [];
        {% for r in coefficients_r %}
        rs.push({{ r }});
        {% endfor %}
        let thetas = [];
        {% for theta in coefficients_theta %}
        thetas.push({{theta}});
        {% endfor %}
        let freqs = [];
        {% for f in freq %}
        freqs.push({{ f }});
        {% endfor %}

        console.log("rs: " + rs)
        console.log("thetas: " + thetas)

        const c = document.getElementById("canvas");
        const ctx = c.getContext("2d");

        const pointsCnt = 100 * freqs.length;
        const tInterval = freqs.length < 50 ? 0.01 : 1 ;
        const drawInterval = 50;

        let endpoints = [];

        // Current time.
        let t = 0;
        const draw = () => {
            ctx.fillStyle = "grey";
            ctx.fillRect(0, 0, c.width, c.height);
            ctx.strokeStyle = "black";
            ctx.beginPath();
            let x = c.width/2;
            let y = c.height/2;
            ctx.moveTo(x, y);
            let lastPoint = [x, y];
            for (let i = 0; i < rs.length; i++) {
                const r = rs[i];
                const theta = thetas[i];
                //const multiplier = (i % 2 === 0 ? i / 2 : -(i+1)/2);
                const multiplier = freqs[i];
                const angle = theta + multiplier * 2 * Math.PI * t;
                x += r * Math.cos(angle);
                y += r * Math.sin(angle);
                ctx.lineTo(x, y);
                lastPoint = [x, y];
            }
            ctx.stroke();

            endpoints.push(lastPoint);

            ctx.beginPath();
            for (let i = endpoints.length-1; i >= Math.max(0, endpoints.length - pointsCnt); i--) {
                let [x, y] = endpoints[i]
                ctx.lineTo(x, y);
                let opacity = 1-(endpoints.length-1-i)/pointsCnt;
                ctx.strokeStyle = `rgba(0,64,160,${opacity})`;
                ctx.stroke();
            }
            t += tInterval;
        };

        setInterval(draw, drawInterval);
    </script>
</body>
</html>

